name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install tytanic
        uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: tytanic@0.3.1

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Setup typst
        id: setup-typst
        uses: typst-community/setup-typst@v4

      - name: Run test suite
        run: just test --no-fail-fast

      - name: Archive diffs
        uses: actions/upload-artifact@v4
        with:
          name: typst-${{ steps.setup-typst.outputs.typst-version }}-diffs
          path: |
            tests/**/diff/*.png
            tests/**/out/*.png
            tests/**/ref/*.png
          retention-days: 5
